/* FLATICON */
@import url("https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --morning-1: #f6dc69;
  --morning-2: #f9f4c9;
  --morning-3: #fcbc93;
}

html,
body {
  margin: 0px;
  height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  /* scroll-behavior: smooth; */
}

body {
  background-size: 100%;
  display: flex;
  overflow: hidden;
}

h1 {
  color: #e6f0f4;
  font-size: 6rem;
  mix-blend-mode: overlay;
  margin: 0;
  text-align: center;
}

.time {
  margin: 1rem;
  color: #e6f0f4;
  letter-spacing: 0.5rem;
}

.outer-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  max-width: fit-content;
  padding: 1rem;
}

button {
  font-family: "Montserrat", sans-serif;
  margin: 1rem;
  position: relative;
  padding: 1rem 2rem;
  font-weight: 500;
  font-size: 1.5rem;
  color: #e6f0f4;
  border: 1px solid rgba(255, 255, 255, 0.18);
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(48, 49, 59, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 10px;
  mix-blend-mode: overlay;
}
button:hover {
  mix-blend-mode: color-dodge;
}

#player {
  opacity: 1;
  position: absolute;
  height: 150%;
  width: 150%;
  top: -25%;
  left: -25%;
  z-index: -1000;
}

.btn-container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  /* align-items: center; */
  justify-content: center;
}

.pomo-timer {
  font-size: 3rem;
  margin: 0px;
}

.pomo-container {
  color: #e6f0f4;
  display: none;
  position: absolute;
  margin: 1rem;
  top: 0px;
  right: 0px;
  padding: 1rem;
  width: 200px;
}

.pomo-container > p {
  margin: 0px;
}

.timer-box {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.show-home {
  font-size: 1rem;
  position: absolute;
  top: 10px;
  left: 10px;
}

button {
  z-index: 1000;
}

.slidecontainer {
  z-index: 1000;
  display: flex;
  gap: 0.5rem;
  color: #e6f0f4;
  align-items: center;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.4);
  outline: none;
  overflow: hidden;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(8px);
  box-shadow: -407px 0 0 400px rgba(255, 255, 255, 1);
  cursor: pointer;
}

.glass {
  border: 1px solid rgba(255, 255, 255, 0.18);
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 10px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 4rem;
  }
  button {
    font-size: 1rem;
  }
  body {
    background-size: calc(100vh * 2);
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
  }
  .player-container {
    position: relative;
    overflow: hidden;
    opacity: 0;
  }
}
