/* FLATICON */
@import url("https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --morning-1: #f6dc69;
  --morning-2: #f9f4c9;
  --morning-3: #fcbc93;
}

html,
body {
  margin: 0px;
  height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  /* scroll-behavior: smooth; */
}

body {
  background-size: 100%;
  display: flex;
  overflow: hidden;
}

h1 {
  color: #e6f0f4;
  font-size: 8rem;
  mix-blend-mode: overlay;
  margin: 0;
}

.outer-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  max-width: fit-content;
  padding: 1rem;
}

.btn-container > button {
  font-family: "Montserrat", sans-serif;
  margin: 1rem;
  position: relative;
  padding: 1rem 2rem;
  font-weight: 500;
  font-size: 1.5rem;
  color: #e6f0f4;
  border: 1px solid rgba(255, 255, 255, 0.18);
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 10px;
  mix-blend-mode: overlay;
}

.btn-container > button:hover {
  mix-blend-mode: color-dodge;
}

.sun {
  height: 200px;
  width: 200px;
  border-radius: 50%;

  background-color: var(--morning-2);
  position: absolute;
  z-index: -99;
  top: 50px;
  filter: blur(10px);
}

.bg-video {
  position: absolute;
  height: 150%;
  width: 150%;
  top: -25%;
  left: -25%;
  z-index: -10;
}
